<mat-toolbar class="navbar">
    <div class="menu-section">
        <button mat-icon-button (click)="menuToggle=!menuToggle">
            <i class="material-icons">
                menu
            </i>
        </button>
    </div>
    <div class="hollow-crown-logo"></div>
</mat-toolbar>
<div class="nav-button-wrapper" [ngClass]="menuToggle ? 'toggle-menu' : ''">
    <div class="hollow-crown-logo"></div>
    <a mat-button routerLink="home" routerLinkActive="active" (click)="menuToggle=!menuToggle">
        Home
    </a>
    <a mat-button routerLink="live" routerLinkActive="active" (click)="menuToggle=!menuToggle">
        Live
    </a>
    <a mat-button routerLink="chat" routerLinkActive="active" (click)="menuToggle=!menuToggle">
        Chat
    </a>
    <a mat-button href="https://hollowcrown.threadless.com/" target="_blank">
        Merch
    </a>
     <h3>Socials</h3>
    <a mat-button href="https://youtube.com/hailjake" target="_blank">
        Youtube
    </a>
    <a mat-button href="https://facebook.com/hollowcrownca" target="_blank">
        Facebook
    </a>
    <a mat-button href="https://twitter.com/hollowcrownband" target="_blank">
        Twitter
    </a>
    <a mat-button href="https://www.instagram.com/hollowcrown_official/" target="_blank">
        Instagram
    </a>
    <h3>Music</h3>
    <a mat-button href="https://open.spotify.com/artist/6cb0pSk4lsrgPdT0G2foKO" target="_blank">
        Spotify
    </a>
    <a mat-button href="https://itunes.apple.com/us/artist/hollow-crown/1391388877" target="_blank">
        Itunes
    </a>
    <a mat-button href="https://hollowcrown.bandcamp.com/" target="_blank">
        Bandcamp
    </a>
</div>
<div class="nav-backdrop" (click)="menuToggle=!menuToggle" [ngClass]="menuToggle ? 'toggle-bg' : ''"></div>