<div class="home-wrapper">
  <div class="content-wrapper">
    <!--Main Header-->
    <div class="header">
      <!--Spotify Iframe Hollow Crown X Pentagrvm-->
      <iframe src="https://open.spotify.com/embed/track/45gzp3VFbv3vKcNXDiDpLZ" width="300" height="80" frameborder="0"
        allowtransparency="true" allow="encrypted-media" class="spotify"></iframe>
    </div>
    <!--Youtube Iframe Hollow Crown: Backhanded Compliments-->
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/H4Xe3x-w3DU?controls=0" frameborder="0" allow=""></iframe>
    <!--Members-->
    <div class="members-wrapper">
      <h2>HOLLOW CULT</h2>
      <div class="member" *ngFor="let member of members">
        <div class="member-image" [style.backgroundImage]="'url('+ member.image +')'"></div>
        <p>{{member.role}}: {{member.name}}</p>
        <a href="{{member.instagram}}" target="_blank" *ngIf="member.instagram.length > 0">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="{{member.twitter}}" target="_blank" *ngIf="member.twitter.length > 0">
          <i class="fab fa-twitter-square"></i>
        </a>
      </div>
    </div>
    <!--Band Detail-->
    <div class="band-detail">
      <p>
        Hollow Crown hailing from southern california and comprised of members from Carnifex, Her Demise My Rise and So This Is Suffering. Fresh off
        their debut album Bitter Not Broken, Hollow Crown is traveling a different path than those aforementioned
        bands, while still maintaining a heavy in-your-face style of music.
      </p>
    </div>

<div class="discog">
  <h2>Releases</h2>
  <a href="https://open.spotify.com/artist/6cb0pSk4lsrgPdT0G2foKO" target="_blank">
    <div class="cd-wrapper">
        <h3>Bitter Not Broken</h3>
        <div class="cd-1"></div>
      </div>
  </a>
  <a href="https://open.spotify.com/artist/6cb0pSk4lsrgPdT0G2foKO" target="_blank">
    <div class="cd-wrapper">
        <h3>Hollow Crown X Pentagrvm</h3>
        <div class="cd-2"></div>
      </div>
  </a>
</div>

    <!--Twitch Live Feeds-->
    <div class="live-now-wrapper">
      <h2 *ngIf="isJakeVisible || isJamesVisible">
        LIVE FEEDS
        <button routerLink="/live" mat-flat-button>View More</button>
      </h2>
      <div *ngIf="isJakeVisible && !isJamesVisible" [style.backgroundImage]="'url('+ isJakeLive.stream.channel.profile_banner +')'" class="jake-live-banner">
          <img src="{{ isJakeLive.stream.channel.logo }}"/>
          <div class="live"></div>
          <h2>{{ isJakeLive.stream.game }}</h2>
          <p>{{ isJakeLive.stream.channel.status }}</p>
      </div>
      <div id="twitch-embed-jake" [className]="isJakeVisible && !isJamesVisible ? 'singleStream' : ''"></div>
      <div id="twitch-embed-james" [className]="isJamesVisible && !isJakeVisible ? 'singleStream' : ''"></div>
    </div>
  </div>
</div>
